    body {
                background-image: url("https://images6.alphacoders.com/341/341558.jpg");

             }

    h1 {
      border: 4mm ridge rgba(0, 0, 0, .9);
      border-style: dashed solid;
      font-size: 36px;
      background: content-box radial-gradient(skyblue, Blue);

    }

    p {
border: 4mm ridge rgba(50, 50, 220, .6);
background: cyan;
font-size: 16px;
font-family: Stencil Std, fantasy

    }
