
body {
background-image: url("https://images6.alphacoders.com/341/341558.jpg");
}

h1 {
border: 4mm ridge rgba(0, 0, 0, .9);
border-style: dashed solid;
font-size: 36px;
background: grey;
text-align: center;
font-family: 'Krona One'
  }

h2 {
border: 4mm ridge rgba(0, 0, 0, .9);
color: Blue;
background: grey;
font-size: 28px;
text-align: center;
font-family: 'Serif'
  }

.underline {
text-decoration: underline;
}

p {
border: 4mm ridge rgba(0, 0, 0, .9);
background: grey;
font-size: 24px;
font-family: 'Krona One'
text-align: center;
}


